* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul {
    list-style: none;
}

body {
    background-position: top center;
    background-size: 100% auto;
    background-repeat: no-repeat;
    background-color:  #756757;
}

body * {
    font-family: 'Inter', sans-serif;
    line-height: 160%;
}

header {
    padding-top: 32px;
    text-align: center;
}

section div img {
    background-image: linear-gradient(90deg,  #bdb4a8 0%, #666286 50.52%, #2f325a 100%);
    padding: 7px;
    padding-bottom: 7px;
    border-radius: 20px;
}

section div img {
    transition: transform .3s;
}

section div img:hover {
    transform: scale(1.1);
}

section div h2 {
    transition: transform .3s;
}

section div h2:hover {
    transform: scale(1.1);
}


.book-list * {
    font-size: auto;
}

.book-list img {
    width: 225px;
    border-radius: 25px;
    margin-top: 20px;
}

.book-list h2 {
    color: #2f325a;
    font-size: 26px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.book-list p {
    color: rgb(214, 209, 209);
    text-align: center;
    margin-left: 30px;
    margin-right: 30px;
    margin-top: 25px;
    font-size: 18px;
}

.status #status {
    color: #ffffff;
    text-align: center;
    margin-bottom: 25px;
    font-size: 20px;
}


/* animation */

header div img {
    animation: fromTop .7s .2s backwards;
}

header div a {
    animation: fromTop .7s .2s backwards;
}

main section {
    animation: fromBottom .7s backwards;
}

main section:nth-child(1) {
    animation-delay: 0;
}

main section:nth-child(2) {
    animation-delay: .3s;
}

main section:nth-child(3) {
    animation-delay: .6s;
}

@keyframes fromTop {
    from {
        opacity: 0;
        transform: translateY(-30px);
    }

    to{
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes fromBottom {
    from {
        opacity: 0;
        transform: translateY(30px);
    }

    to{
        opacity: 1;
        transform: translateY(0);
    }
}
